<span *ngIf="constDone && initDone">
  <h1 *ngIf="isAdd">Nieuwe bestelling</h1>
  <h1 *ngIf="isEdit">Bestelling aanpassen</h1>
  <hr />
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="isSubmitted && errorMessage"
  >
    {{ errorMessage }}
  </div>

  <form [formGroup]="bestellingForm">
    <div class="form-group">
      <label class="mr-2">Personeelslid</label>
      <select formControlName="personeelsnummer">
        <option value="0" selected>Kies een personeelslid</option>
        <option
          *ngFor="let personeelslid of personeel"
          [ngValue]="personeelslid.personeelsnummer"
        >
          {{ personeelslid.voornaam }} {{ personeelslid.achternaam }}
        </option>
      </select>
    </div>
    <div class="row" id="gerechten">
      <div
        id="gerechten"
        *ngFor="let gerecht of gerechten"
        class="col-12 col-md-6 mb-2"
      >
        <p
          class="inBestelling gerecht p-3"
          *ngIf="bestellingGerechtNummers.includes(gerecht.gerechtNummer)"
          (click)="ToggleInBestelling(gerecht.gerechtNummer)"
        >
        {{ gerecht.naam }}
        </p>
        <p
          class="nietInBestelling gerecht p-3"
          *ngIf="!bestellingGerechtNummers.includes(gerecht.gerechtNummer)"
          (click)="ToggleInBestelling(gerecht.gerechtNummer)"
        >
          {{ gerecht.naam }}
        </p>
      </div>
    </div>

    <button (click)="submit()" class="btn-lg btn-primary">Opslaan</button>
  </form>
</span>
<span *ngIf="!constDone || !initDone"> Data aan het laden </span>
