<h1 class="mt-3 text-center">Bestellingen</h1>
<hr />

<span *ngIf="isLoading"> Data aan het ophalen </span>

<span *ngIf="!isLoading">
  <button class="btn btn-success mb-3" id="nieuweBestellingBtn" (click)="nieuweBestelling()">Nieuwe bestelling</button>
  <div class="row header">
    <p class="col-5">Bestellingsnummer</p>
    <p class="col-3">Personeelslid</p>
    <p class="col-2">Totaalprijs</p>
  </div>

  <div *ngFor="let bestelling of bestellingen" class="row" id="bestellingen">
    <p id="bestelnummer" class="col-5 align-self-center">{{ bestelling.bestelNummer }}</p>
    <p class="col-3 align-self-center">
      {{ bestelling.personeelslid.voornaam }}
      {{ bestelling.personeelslid.achternaam }}
    </p>
    <p class="col-2 align-self-center">€ {{ bestelling.totaalprijs }}</p>
    <p class="col-2">
      <button class="btn" id="detailBestellingBtn" (click)="toDetail(bestelling.bestelNummer)">
        <i class="fas fa-info-circle infoIcon"></i>
      </button>
      <button class="btn" id="deleteBestellingBtn" (click)="deleteBestelling(bestelling)">
        <i class="far fa-trash-alt deleteIcon"></i>
      </button>
    </p>
  </div>
</span>
